@{
  Layout = "_Layout";
}

@using System.Security.Claims

<h2>PlantSwap Login</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="button" value="Log out" />
  }
}
else
{
  <p>@Html.ActionLink("Register", "Register", new { @class = "link" }, null)</p>
  <p>@Html.ActionLink("Log in", "Login", new { @class = "link" }, null)</p>
}