@{
  Layout = "_Layout";
}

@model PlantSwap.Models.Plant

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.CommonName)?</h2>

@Html.DisplayNameFor(model => model.CommonName): @Html.DisplayFor(model => model.CommonName)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="button"/>
}