@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

@using PlantSwap.Models;
@using System.Collections.Generic;
@using System.Linq;

<h1>Welcome to Plant Swap</h1>

<hr />
<div class="home-background">
<h2>The Plants</h2>

@if (@Model["Plants"].Count == 0)
{
  <h4>No plants have been added yet!</h4>
} 
else
{
  @foreach (Plant plant in @Model["Plants"])
    {
      <p>@Html.ActionLink($"{plant.CommonName}", "Details", "Plants", new { id = plant.PlantId }, new { @class = "link" })</p>
    }

}
</div>